<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiaojingjing.bookDemo.Mapper.BorrowingRecordsMapper">
    <select id="query" resultType="com.qiaojingjing.bookDemo.VO.BorrowedBookVO">
        select b.id,b.name,b.author,b.isbn,b.press,br.begin_time,br.end_time from books b,borrowingrecords br where br.book_id=b.id and user_id=#{userId}
    </select>
</mapper>